{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

          <div id="myCarousel" class="carousel slide maxwidth512">
            <div class="carousel-inner width512">
              <div class="item active">
		<img src="actin-disrupter.png" alt="Actin disrupter" width="512" height="381">
                <div class="carousel-caption">
                  <h4>Actin disrupter</h4>
                </div>
              </div>
              <div class="item">
		<img src="aurora-kinase-inhibitor.png" alt="Aurora kinase inhibitor"  width="512" height="381">
                <div class="carousel-caption">
                  <h4>Aurora kinase inhbitor</h4>
                </div>
              </div>
              <div class="item">
		<img src="monoaster.png" alt="Monoaster" width="512" height="381">
                <div class="carousel-caption">
                  <h4>Eg5 inhibitor</h4>
                </div>
              </div>
              <div class="item">
		<img src="tubulin-destabilizer.png" alt="Tubulin destabilizer" width="512" height="381">
                <div class="carousel-caption">
                  <h4>Tubulin destabilizer</h4>
                </div>
              </div>
              <div class="item">
		<img src="tubulin-stabilizer.png" alt="Tubulin stabilizer" width="512" height="381">
                <div class="carousel-caption">
                  <h4>Tubulin stabilizer</h4>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>

    <h3>Description of the biological application</h3>
    <p><i>Phenotypic profiling</i> attempts to summarize
    multiparametric, feature-based analysis of cellular phenotypes of
    each sample so that similarities between profiles reflect
    similarities between samples. Profiling is well established for
    biological readouts such as transcript expression and
    proteomics. Image-based profiling, however, is still an emerging
    technology. </p>

    <p>This image set provides a basis for testing image-based
    profiling methods wrt. to their ability to predict the mechanisms
    of action of a compendium of drugs. The image set was collected
    using a typical set of morphological labels and uses a
    physiologically relevant p53-wildtype breast-cancer model system
    (MCF-7) and a mechanistically distinct set of targeted and
    cancer-relevant cytotoxic compounds that induces a broad range of
      gross and subtle phenotypes.</p>

    <h3>Images</h3>
    <p>The images are of MCF-7 breast cancer cells treated for 24 h
    with a collection of 113 small molecules at eight
    concentrations. The cells were fixed, labeled for DNA, F-actin,
    and &Beta;-tubulin, and imaged by fluorescent microscopy as described
    [<a href="http://dx.doi.org/10.1158/1535-7163.MCT-09-1148">Caie et al. <i>Molecular Cancer
	  Therapeutics</i>, 2010</a>].

    <p>There are 39,600 image files (13,200 fields of view imaged in
      three channels) in TIFF format. We provide the images in 55 ZIP
      archives, one for each microtiter plate. The archives are ~750
      MB each.</p>

<p><a href="BBBC021_v1_images_Week1_22123.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22123.zip (839436312 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week1_22141.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22141.zip (851400910 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week1_22161.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22161.zip (841371484 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week1_22361.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22361.zip (854598915 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week1_22381.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22381.zip (861576297 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week1_22401.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week1_22401.zip (874848053 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24121.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24121.zip (813322359 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24141.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24141.zip (812952878 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24161.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24161.zip (817951167 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24361.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24361.zip (819824327 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24381.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24381.zip (744172615 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week2_24401.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week2_24401.zip (800661306 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25421.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25421.zip (871456323 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25441.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25441.zip (857910029 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25461.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25461.zip (866095101 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25681.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25681.zip (872819691 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25701.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25701.zip (872579408 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week3_25721.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week3_25721.zip (879704833 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27481.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27481.zip (821231042 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27521.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27521.zip (900816031 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27542.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27542.zip (842012560 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27801.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27801.zip (887877004 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27821.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27821.zip (869265677 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week4_27861.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week4_27861.zip (859009634 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_28901.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_28901.zip (855927945 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_28921.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_28921.zip (871718868 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_28961.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_28961.zip (842785692 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_29301.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_29301.zip (852254591 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_29321.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_29321.zip (863875730 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week5_29341.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week5_29341.zip (873145275 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_31641.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_31641.zip (820699818 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_31661.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_31661.zip (858473246 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_31681.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_31681.zip (800433406 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_32061.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_32061.zip (805248261 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_32121.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_32121.zip (821454013 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week6_32161.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week6_32161.zip (736915539 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week7_34341.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week7_34341.zip (848887897 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week7_34381.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week7_34381.zip (807292825 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week7_34641.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week7_34641.zip (878009142 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week7_34661.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week7_34661.zip (871253843 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week7_34681.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week7_34681.zip (869464697 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week8_38203.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week8_38203.zip (784989526 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week8_38221.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week8_38221.zip (821316018 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week8_38241.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week8_38241.zip (765063810 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week8_38341.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week8_38341.zip (781845212 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week8_38342.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week8_38342.zip (770975988 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39206.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39206.zip (781358283 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39221.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39221.zip (790100629 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39222.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39222.zip (771022096 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39282.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39282.zip (730865395 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39283.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39283.zip (779096045 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week9_39301.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week9_39301.zip (725130381 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week10_40111.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week10_40111.zip (886666704 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week10_40115.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week10_40115.zip (855657088 bytes)</a></p>
<p><a href="BBBC021_v1_images_Week10_40119.zip"><i class="icon-download-alt"></i> BBBC021_v1_images_Week10_40119.zip (829928012 bytes)</a></p>

    <h3>Metadata</h3>

<p>The file BBBC021_v1_image.csv contains the metadata, with the following fields:</p>
<ul>
  <li> TableNumber
  <li> ImageNumber
  <li> Image_FileName_DAPI
  <li> Image_PathName_DAPI
  <li> Image_FileName_Tubulin
  <li> Image_PathName_Tubulin
  <li> Image_FileName_Actin
  <li> Image_PathName_Actin
  <li> Image_Metadata_Plate_DAPI
  <li> Image_Metadata_Well_DAPI
  <li> Replicate
  <li> Image_Metadata_Compound
  <li> Image_Metadata_Concentration
</ul>

<p>Example rows from the file:</p>

<table class="table small table-condensed">
<thead>
  <tr><th>TableNumber</th><th>ImageNumber</th><th>Image_FileName_DAPI</th><th>Image_PathName_DAPI</th><th>Image_FileName_Tubulin</th><th>Image_PathName_Tubulin</th><th>Image_FileName_Actin</th><th>Image_PathName_Actin</th><th>Image_Metadata_Plate_DAPI</th><th>Image_Metadata_Well_DAPI</th><th>Replicate</th><th>Image_Metadata_Compound</th><th>Image_Metadata_Concentration</th></tr>
</thead>
<tbody>
  <tr><td>4</td><td>233</td><td>G10_s1_w1BEDC2073-A983-4B98-95E9-84466707A25D.tif</td><td>Week4/Week4_27481</td><td>G10_s1_w2DCEC82F3-05F7-4F2F-B779-C5DF9698141E.tif</td><td>Week4/Week4_27481</td><td>G10_s1_w43CD51CBC-2370-471F-BA01-EE250B14B3C8.tif</td><td>Week4/Week4_27481</td><td>Week4_27481</td><td>G10</td><td>1</td><td>5-fluorouracil</td><td>0.003000</td></tr>
  <tr><td>4</td><td>234</td><td>G10_s2_w11C3B9BCC-E48F-4C2F-9D31-8F46D8B5B972.tif</td><td>Week4/Week4_27481</td><td>G10_s2_w2570437EF-C8DC-4074-8D63-7FA3A7271FEE.tif</td><td>Week4/Week4_27481</td><td>G10_s2_w400B21F33-BDAB-4363-92C2-F4FB7545F08C.tif</td><td>Week4/Week4_27481</td><td>Week4_27481</td><td>G10</td><td>1</td><td>5-fluorouracil</td><td>0.003000</td></tr>
  <tr><td>4</td><td>235</td><td>G10_s3_w1F4FCE330-C71C-4CA3-9815-EAF9B9876EB5.tif</td><td>Week4/Week4_27481</td><td>G10_s3_w2194A9AC7-369B-4D84-99C0-DA809B0042B8.tif</td><td>Week4/Week4_27481</td><td>G10_s3_w4E0452054-9FC1-41AB-8C5B-D0ACD058991F.tif</td><td>Week4/Week4_27481</td><td>Week4_27481</td><td>G10</td><td>1</td><td>5-fluorouracil</td><td>0.003000</td></tr>
</tbody>
</table>

<p><a href="BBBC021_v1_image.csv"><i class="icon-download-alt"></i> BBBC021_v1_image.csv (3.8 MB)</a></p>

<p>The file BBBC021_v1_compound.csv gives the structures
(in <a href="http://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system">SMILES</a>
format) of most of the compounds. The fields are:</p>
<ul>
  <li>compound
  <li>smiles
</ul>

<p>Example rows from the file:</p>

<table class="table small table-condensed">
<thead>
  <tr><th>compound</th><th>smiles</th></tr>
</thead>
<tbody>
  <tr><td>DMSO</td><td></td></tr>
  <tr><td>leupeptin</td><td>CC(C)C[C@H](NC(=O)C)C(=O)N[C@@H](CC(C)C)C(=O)N[C@@H](CCCNC(=N)N)C=O</td></tr>
  <tr><td>taxol</td><td>CC(=O)O[C@H]1C(=O)[C@]2(C)[C@@H](O)C[C@H]3OC[C@@]3(OC(=O)C)[C@H]2[C@H](OC(=O)c4ccccc4)[C@]5(O)C[C@H](OC(=O)[C@H](O)[C@@H](NC(=O)c6ccccc6)c7ccccc7)C(=C1C5(C)C)C</td></tr>
  <tr><td>AZ235</td><td>CC(C)n1c(C)ncc1c2ccnc(Nc3ccc(cc3)S(=O)(=O)C)n2</td></tr>
  <tr><td>AZ-O</td><td></td></tr>
</tbody>
</table>

<p><a href="BBBC021_v1_compound.csv"><i class="icon-download-alt"></i> BBBC021_v1_compound.csv (8174 bytes)</a></p>


    <h3>Ground truth {{B}}</h3>

    <p>A subset of the compound-concentrations have been identified as
      clearly having one of 12 different primary mechanims of
      action. mechanistic classes were selected so as to represent a
      wide cross-section of cellular morphological phenotypes. The
      differences between phenotypes were in some cases very subtle:
      we were only able to identify 6 of the 12 mechanisms visually;
      the remainder were defined based on the literature.</p>

    <p>The file BBBC021_v1_moa.csv contains the mechanisms of action
    of 103 compound-concentrations (38 compounds at 1&ndash;7
      concentrations each). The fields are:</p>
<ul>
  <li>compound
  <li>concentration
  <li>moa
</ul>

<p>Example rows from the file:</p>

<table class="table small table-condensed">
<thead>
  <tr>
    <th>compound</th><th>concentration</th><th>moa</th>
  </tr>
</thead>
<tbody>
  <tr><td>PP-2</td><td>3.000000</td><td>Epithelial</td></tr>
  <tr><td>emetine</td><td>0.300000</td><td>Protein synthesis</td></tr>
  <tr><td>AZ258</td><td>1.000000</td><td>Aurora kinase inhibitors</td></tr>
</tbody>
</table>


    <p> NOTE: When evaluating accuracy of MOA classification, it is critical
        to ensure that the cross-validation is set up correctly. MOA classification
        is the task of classifying the MOA of an unseen compound. Therefore, the
        evaluation should be a leave-one-compound-out cross validation: in each
        iteration, hold out one compound (all replicates and at all
        concentrations), train on the remaining, and test on the held out compound. </p>

<p><a href="BBBC021_v1_moa.csv"><i class="icon-download-alt"></i> BBBC021_v1_moa.csv (4393 bytes)</a></p>

<h3>CellProfiler pipelines</h2>
<p><a href="analysis.cppipe"> CellProfiler analysis pipeline</a></p>
<p><a href="illum.cppipe"> CellProfiler illumination pipeline</a></p>

    <h3>Published results using this image set</h3>
    <p>The prediction of Mechanism-of-Action was performed with restrictions on the
possible match. Not-Same-Compound (NSC) does not allow a match to the same
compound. Not-Same-Compound-or-Batch (NSCB) does not allow a match to the same
compound or any compound on the same batch. Evaluations were performed at level of individual wells (Per-Well) as well as that of individual treatments, where replicate wells were averaged to create a profile (Per-Treatment).</p>

    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Per-Treatment</th>
          <th colspan="2">Per-Well</th>
          <th></th>
        <tr>
         <th><a href="../benchmarking.html#bioLabel" class="badge" rel="tooltip"
                data-original-title="Biological labels">B</a></th>
         <th><a href="../benchmarking.html#bioLabel" class="badge"
                rel="tooltip" data-original-title="Biological labels">B</a></th>
         <th><a href="../benchmarking.html#bioLabel" class="badge" rel="tooltip"
                data-original-title="Biological labels">B</a></th>
         <th><a href="../benchmarking.html#bioLabel" class="badge" rel="tooltip"
                data-original-title="Biological labels">B</a></th>
         <th></th>
        </tr>
        <tr>
          <th>NSC</th>
          <th>NSCB</th>
          <th>NSC</th>
          <th>NSCB</th>
          <th>Citation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><b>96%</b></th>
          <th><b>95%</b></th>
          <th><b>91%</b></th>
          <th><b>89%</b></th>
          <th>
            <a href="https://doi.org/10.1101/161422">
              Ando et al., <i>BioRxiv</i>, 2017.
            </a>
          </th>
        </tr>
        <tr>
          <th>94%</th>
          <th>77%</th>
          <th>86%</th>
          <th>71%</th>
          <th>
            <a href="http://dx.doi.org/10.1177/1087057113503553">
              Ljosa et al., <i>J. Biomol. Screening</i>, 2013.
            </a>
          </th>
        </tr>
        <tr>
          <th>91%</th>
          <th>N/A</th>
          <th>N/A</th>
          <th>N/A</th>
          <th>
            <a href="https://doi.org/10.1101/085118">
              Pawlowski et al., <i>BioRxiv</i>, 2016.
            </a>
          </th>
        </tr>
        <tr>
          <th>90%</th>
          <th>85%</th>
          <th>N/A</th>
          <th>N/A</th>
          <th>
            <a href="https://dx.doi.org/10.1111/jmi.12178">
              Singh et al., <i>J. Microsc.</i>, 2014.
            </a>
          </th>
        </tr>
      </tbody>
  </table>

    <h3>For more information</h3>
    <p>These images were originally gathered for <a href="http://dx.doi.org/10.1158/1535-7163.MCT-09-1148">Caie et al. (<i>Molecular Cancer
	  Therapeutics</i>, 2010)</a>.</p>

    <h3>Recommended citation</h3>
<p>&quot;We used image set <a href="">{{acc}}v1</a> [<a href="http://dx.doi.org/10.1158/1535-7163.MCT-09-1148">Caie et al., Molecular Cancer Therapeutics, 2010</a>], available from the Broad Bioimage Benchmark Collection
  [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>].&quot;</p>

    <h3>Copyright</h3>

<p>The images and ground truth are copyright AstraZeneca Pharmaceuticals.</p>

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
