{% extends 'base.html' %}
{% block content %}

<p class="small">Accession number <a href="">BBBC030</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="DIC.png" alt="DIC" height="195" width="261">
      <div class="caption">
	DIC image
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="Ground.png" alt="Ground Truth" height="195" width="261">
      <div class="caption">
  Ground truth
  </div>
</div>
</li>
</ul>


<h3>Images</h3>
<p>The image set consists of 60 Differential Interference Contrast (DIC) images of Chinese Hamster Ovary
	 (CHO) cells. The images are taken on an Olympus Cell-R microscope with a 20x lens at the time when the
		cell initiated their attachment to the bottom of the dish.</p>

    <p><a href="images.zip">images.zip</a></p>

<h3>Ground Truth (Outlines) {{H}}</h3>
<p>We have hand-segmented the images and saved their contours. The suggested method for DIC
	 reconstruction algorithm ranking is the comparison of the area under the receiver
	 operating characteristic (ROC) curve (also called AUC, A' or c-statistic).</p>

   <p><a href="ground_truth.zip">ground_truth.zip</a></p>

<h3>Published results using this image set</h3>
<p>The proposed data set will be evaluated in a publication to be submitted.</p>

<h3>Recommended citation</h3>
<p>"We used image set {{acc}}v1 [Koos, K., Molnár, J., Kelemen, L., Tamás, G., & Horvath, P. (2016). DIC image reconstruction using an energy minimization framework to visualize optical path length distribution. <i>Scientific reports, 6.</i>] from the Broad Bioimage Benchmark Collection."</p>

<h3>Copyright</h3>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
  The {{acc}}v1 image set
</span> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> by <a href="mailto:horvath.peter@brc.mta.hu">Peter Horvath</a> and <a href="mailto:koos.krisztian@brc.mta.hu">Krisztián Koós</a>.

  <footer class="footer">

        <p>This page last updated 2017-02-06</p>
	</footer>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('a[rel=tooltip]').tooltip();
      });
    </script>
{% endblock %}
