{% extends 'base.html' %}
{% block content %}

<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

          <div id="myCarousel" class="carousel slide maxwidth273">
            <div class="carousel-inner width273">
              <div class="item active">
		<img src="jw-1h 3_(c1+c5)_cropped.png" alt="Merged" width="273" height="271">
                <div class="carousel-caption">
                  <h4>Merged</h4>
                </div>
              </div>
              <div class="item">
		<img src="jw-1h 3_c1_cropped.png" alt="Actin dots" width="273" height="271">
                <div class="carousel-caption">
                  <h4>CD11b/APC</h4>
                </div>
              </div>
              <div class="item">
		<img src="jw-1h 3_c5_cropped.png" alt="Anaphase/Teleophase" width="273" height="271">
                <div class="carousel-caption">
                  <h4>DAPI</h4>
                </div>
              </div>
	    </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>


<h3>Biological application</h3>

<p>
  These images depict bone-marrow derived macrophages from C57BL/6
  mice. Based on this experiment, the role of toll-like receptor 4
  (TLR 4), Myd88 and MAPK for macrophage spreading was
  investigated. For measurement of experimental parameters, automatic
  segmentation of the image data is highly desirable. Details on the
  experiment are provided in
  (<a href="http://dx.doi.org/10.3389/fphys.2011.00071">Wenzel et al.,
  2012</a>).</p>

  For these images, segmentation of the cells poses a challenge as the
  cells possess an irregular shape and some of the macrophages touch
  or overlap each other. This dataset can be used to assess an
  algorithm's ability to deal with challenging overlapping cell data.

<h3>Images</h3>
<p>
  The image set consists of 25 images, each consisting of three
  channels. The samples were stained with DAPI and CD11b/APC. In
  addition to this, a merged image is provided. DAPI labels the nuclei
  and CD11b/APC the cell surface.
</p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (92 MB)</a></p>

<h3>Ground truth {{H}}</h3>

   In order to allow evaluation of segmentation performance for
   overlapping cells, an individual outline is provided for each
cell. Outlines are named according to <var>filename</var><samp>_</samp><var>number</var><samp>.tif</samp>,
   where <var>filename</var> denotes the filename of the corresponding
   fluorescent image and <var>number</var> is a counter.

   Note that no outlines are provided for cells or nuclei exceeding
   the image or cells that could not separated from each other due to
   very strong overlap or blur as such objects are not considered for
   evaluation.

    <p><a href="{{acc}}_v1_outlines_nuclei.zip"><i class="icon-download-alt"></i> {{acc}}_v1_outlines_nuclei.zip (2.0 MB)</a></p>
    <p><a href="{{acc}}_v1_outlines_cells.zip"><i class="icon-download-alt"></i> {{acc}}_v1_outlines_cells.zip (1.7 MB)</a></p>

<h3>Recommended citation</h3>
<p>"We used image set <a href="">{{acc}}</a> from the Broad
  Bioimage Benchmark Collection
  [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>]."</p>

<h3>Copyright</h3>
<p>The {{acc}} images and ground truth are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a> by <a href="mailto:Roland.Lang@uk-erlangen.de">Roland Lang</a>.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>

{% endblock %}

{% block end_of_body %}
<script type="text/javascript">
$(document).ready(function () {
  $('.carousel').carousel();
});
</script>

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
