{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="7_19_M2E5.png" alt="DIC" width="210" height="280">
      <div class="caption">
	DIC image
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="7_19_M2E5_cells.png" alt="Ground Truth" width="210" height="280">
      <div class="caption">
	Foreground
      </div>
    </div>
  </li>
</ul>

	  <h3>Biological application</h3>
	  <p>Fluorescence microscopy cannot be used to image human
	    embryos to determine embryo viability for in vitro
	    fertilization because the introduction of exogenous
	    fluorescent dyes is considered a toxic procedure.  As a
	    result, embryo viability has been measured primarily
	    using <a href="http://en.wikipedia.org/wiki/Differential_interference_contrast_microscopy">differential
	    interference contrast (DIC)</a>.  A human can readily
	    segment the embryo (and, to some extent, individual cells)
	    in a DIC image, but automatic segmentation remains a
	    challenge due to the cosine-dependent shading inherent in
	    DIC images.</p>

	  <h3>Images</h3>
	  <p>There are 15 images.  The images were acquired using a
	    Nikon Eclipse TE200 microscope with a 20x, 0.45&nbsp;NA
	    objective lens and a 0.52&nbsp;NA condenser lens, and are
	    provided courtesy of
	    the <a href="http://www.keck3dfm.neu.edu">W.M. Keck 3D
	    Fusion Microscope Facility at Northeastern University</a>.
	    Each image contains 640 x 480 pixels with an approximate
	    size of 0.42 x 0.42&nbsp;μm.</p>

	  <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (2.5 MB)</a></p>

	  <h3>Ground truth {{C}} {{FB}}</h3>

	  <p>For the purpose of collecting ground truth, the samples
	  were Hoechst-stained and imaged by confocal microscopy, and
	  the cells were counted by a simple human.  A tab-delimited
	  text file contains cell counts in each of the 15 images.</p>

	  <p><a href="{{acc}}_v1_counts.txt"><i class="icon-download-alt"></i> {{acc}}_v1_counts.txt (279 bytes)</a></p>

	  <p>
	    The pixels belonging to the mouse embryo were manually
	    identified as foreground.
	  </p>

	  <p><a href="{{acc}}_v1_foreground.zip"><i class="icon-download-alt"></i> {{acc}}_v1_foreground.zip (23 kB)</a></p>
	  <!-- p>
	    There are two options when using this data set to quantify
	    an algorithm's effectiveness.  The simplest method is
	    simply to compute the percentage of pixels that your
	    algorithm and the ground truth have in common.  However, a
	    wide class of algorithms for handling DIC images do not
	    explicity segment the image, but rather transform the
	    image so that it can later be thresholded.  In this case,
	    to ensure that the algorithms are judged on their accuracy
	    of transformation and not the separate problem of
	    thresholding, it is best to find the area under the ROC
	    curve generated by trying every possible thresholding
	    value.
	  </p -->

	  <h3>Published results using this image set</h3>

	  <table class="table">
	    <thead>
	    <tr>
	      <th>{{C}}</th>
	      <th>{{FB}}</th>
	      <th>Citation</th>
	    </tr></thead><tr>
	      <td>1.25%</td><td>—</td>
	      <td><a href="http://dx.doi.org/10.1117/1.2937468">Warger et al., <i>J.  Biomed. Opt.</i>, 2008</a></td>
	    </tr>
	    <tr>
	      <td>0.83%</td><td>—</td>
	      <td><a href="http://dx.doi.org/10.1017/S1431927607070171">Newmark
		 et al., <i>Microsc. Microanal.</i>, 2007</a></td>
	    </tr>
	  </table>

	  <!-- <p></p -->

	  <h3>Acknowledgement</h3>
	  <p>The images were acquired by Bill Warger and Judy Newmark.
	  Judy Newmark counted the cells, and Tom Morgan identified
	  the foreground.</p>

	  <h3>Recommended citation</h3>
<p>"We used image set <a href="">{{acc}}v1</a> from the Broad Bioimage
	    Benchmark Collection [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>]."</p>

      <h3>Copyright</h3>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
          <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
            The Synthetic 1 images
          </span> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a> by <a href="mailto:pekka.ruusuvuori@tut.fi">Pekka Ruusuvuori</a>.
 
  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
