{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="livedead_pos.png" width="159" height="153" alt="Positive: mostly alive">
      <div class="caption">
	Positive: mostly alive
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="livedead_neg.png" width="159" height="153" alt="Negative: mostly dead">
      <div class="caption">
	Negative: mostly dead
      </div>
    </div>
  </li>
</ul>

    <h3>Biological application</h3>
    <p>This selection of images are controls selected from a screen
      to find novel anti-infectives using the roundworm <i> C.elegans </i>.
      The animals were exposed to the pathogen <i> Enterococcus faecalis</i>
      and either untreated or treated with ampicillin, a known antibiotic against
      the pathogen.  The untreated (negative control) worms
      display predominantly the "dead" pheotype: worms appear rod-like in shape
      and slightly uneven in texture.  The treated (ampicillin, positive
      control) worms display predominantly the "live" phenotype:
      worms appear curved in shape and smooth in texture.</p>

<p>For more information, please see <a href="http://dx.doi.org/10.1021/cb900084v">Moy et al. (<i>ACS Chem Biol</i>, 2009)</a>.

    <h3>Images</h3>
    <p>One image per channel (Channel 1 = brightfield; channel 2 = GFP)
      was acquired at MGH on a Discovery-1 automated microscope (Molecular Devices).
      Original image size is 696 x 520 pixels.  Images are available in
      16-bit TIF.</p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (64 MB)</a></p>

    <h3>Ground truth {{B}} {{FB}} {{H}}</h3>

    <table class="table">
      <tbody>
      <tr>
	<td>{{B}}</td>
	<td>
    <p>The 384 images are from a plate of positive and
	negative controls.  The images are named using this format:
	&lt;plate&gt;_&lt;wellrow&gt;_&lt;wellcolumn&gt;_&lt;wavelength&gt;_&lt;fileid&gt;.tif

      Columns 1-12 are positive controls treated with ampicillin.  Columns 13-24 are untreated negative controls.  </p>

	</td>
      </tr>
      <tr>
	<td>{{FB}}</td>
	<td><p>We also provide human-corrected binary images of
    foreground/background segmentation:</p>

    <p><a href="{{acc}}_v1_foreground.zip"><i class="icon-download-alt"></i> {{acc}}_v1_foreground.zip (1.1 MB)</a></p>
	</td>
      </tr>
      <tr>
	<td>{{H}}</td>
	<td><p>To address the problem of correctly segmenting individual
    worms also when they overlap or cluster, we provide one binary
    foreground/background segmentation ground truth image for each
    worm:</p>

    <p><a href="{{acc}}_v1_foreground_eachworm.zip"><i class="icon-download-alt"></i> {{acc}}_v1_foreground_eachworm.zip (2.7 MB)</a></p>
	</td>
      </tr>
    </tbody>
    </table>

    <h3>For more information </h3>
    <p>These images were originally acquired for a screen in Fred Ausubel's lab at MGH.
      Please contact aconery AT molbio.mgh.harvard.edu  for more information.</p>

    <h3>Published results using this image set</h3>

    <table class="table">
      <thead>
	<tr>
	  <th>{{H}} With automatically identified foreground</th>
	  <th>{{H}} With manually corrected foregrund</th>
	  <th>Citation</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>81%</td>
	  <td>94%</td>
	  <td><a href="http://dx.doi.org/10.1038/nmeth.1984">Wählby et al., <i>Nat Meth</i>, 2012</a>
      </tbody>
    </table>


    <h3>Recommended citation</h3>
    <p>&quot;We used the <i>C.elegans</i> infection live/dead image
    set version 1 provided by Fred Ausubel and available from the
    Broad Bioimage Benchmark Collection
    [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>].&quot;</p>

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
