{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="CNT_Vitra_neg.jpg" width="181" height="174" alt="Positive">
      <div class="caption">
	Positive
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="CNT_Vitra_pos.jpg" width="181" height="174"  alt="Negative">
      <div class="caption">
	Negative
      </div>
    </div>
  </li>
</ul>


	  <h3>Biological application</h3>
	  <p>This 96-well plate has images of cytoplasm to nucleus
	  translocation of the transcription factor NF&kappa;B in MCF7
	  (human breast adenocarcinoma cell line) and A549 (human
	  alveolar basal epithelial) cells in response to TNF&alpha;
	  concentration. </p>

	  <h2>Images</h2>
	  <p>Images are at 10x objective magnification.  The plate was
	  acquired at Vitra Bioscience on the CellCard reader. For
	  each well there is one field with two images: a nuclear
	  counterstain (DAPI) image and a signal stain (FITC)
	  image. Image size is 1360 x 1024 pixels. Images are in 8-bit
	  BMP format. </p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (121 MB)</a></p>

	  <h3>Ground truth {{B}}</h3>
	  <p>File name structure is &lt;channel&gt;-&lt;well-number&gt;-&lt;row&gt;-&lt;column&gt;-&lt;field&gt;.BMP</p>
	  <p>The plate map is a standard 96-well plate, containing 12
	  concentration points in columns and 4 replica rows for each
	  cell type.</p>

<p><a href="{{acc}}_v1_platemap.xls"><i class="icon-download-alt"></i> {{acc}}_v1_platemap.xls (22 kB)</a></p>

	  <p>The following files encodes this plate map in the format
	  expected by CellProfiler's LoadText module:</p>

<dl>
  <dt>All samples
    <dd><a href="{{acc}}_v1_platemap_all.txt"><i class="icon-download-alt"></i> {{acc}}_v1_platemap_all.txt (800 b)</a>
  <dt>Single cell type (rows A–D or E–H)
    <dd><a href="{{acc}}_v1_platemap_half.txt"><i class="icon-download-alt"></i> {{acc}}_v1_platemap_half.txt (408 b)</a>
</dl>

	  <h2>Published results using this image set</h2>

	  <p>None.</p>

	  <h2>For more information</h2>
	  <p>These images were originally gathered for Ilya Ravkin's <a href="http://www.ravkin.net/SBS/Invitation-Algorithm-Comparison.htm">Invitation to Participate in the Comparison of Image Analysis Algorithms for Intracellular Screening</a>.</p>

	  <h2>Recommended citation</h2>
<p>&quot;We used image set <a href="">{{acc}}v1</a> provided by Ilya
    Ravkin, available from the Broad Bioimage Benchmark Collection
    [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>].&quot;</p>

    <h3>Copyright</h3>
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
      <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
    </a>
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
      The SBS Bioimage CNT images
    </span>
    are licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>
    by
    <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Ilya Ravkin</span>.

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
