{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="A9%20p10d.png" alt="DNA" width="135" height="135">
      <div class="caption">
	DNA
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="A9%20p10f.png" alt="Actin" width="135" height="135">
      <div class="caption">
	Actin
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="remap_A9%20p10d.png" alt="nuclei" width="135" height="135">
      <div class="caption">
	Outlined nuclei
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="remap_A9%20p10f.png" alt="cells" width="135" height="135">
      <div class="caption">
	Outlined cells
      </div>
    </div>
  </li>
</ul>

    <h3>Biological application</h3>
    <p><i>Drosophila melanogaster</i> Kc167 cells were stained for DNA
    (to label nuclei) and actin (a cytoskeletal protein, to show the
    cell body).  Automatic cytometry requires that cells be segmented,
    i.e., that the pixels belonging to each cell be identified.
    Because segmenting nuclei and distinguishing foreground from
    background is comparatively easy for these images, the focus here
    is on finding the boundaries between adjacent cells.</p>

    <h3>Images</h3>
    <p>Images were acquired using a motorized Zeiss Axioplan 2 and a
    Axiocam MRm camera, and are provided courtesy of the laboratory of
    David Sabatini at the Whitehead Institute for Biomedical
    Research. Each image is roughly 512 x 512 pixels, with cells
    roughly 25 pixels in dimeter, and 80 cells per image on average.
    The two channels (DNA and actin) of each image are stored in
    separate gray-scale 8-bit TIFF files.</p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (6.2 MB)</a></p>

    <h3>Ground truth {{H}}</h3>

    <p>First, nuclei were outlined by hand.  The nuclear outlines were
    overlaid on the cell images, and one cell per nucleus was
    outlined.  Outlines of nuclei and cells are stored in separate
    monochrome 8-bit TIFF files.</p>

    <p><a href="{{acc}}_v1_outlines.zip"><i class="icon-download-alt"></i> {{acc}}_v1_outlines.zip (638 kB)</a></p>

    <p>Algorithms for finding boundaries between adjacent cells may use the union of the manually outlined cells as input.  They may also use the manually outlined nuclei as seed regions.  This ensures that the algorithms are compared according to their ability to find boundaries betwen adjacent cells, and not the orthogonal problems of segmenting nuclei and distinguishing foreground (cells) from background.</p>

    <p>To compare an algorithm's results to the manual outlines, define the relevant boundary pixels as the pixels that are on the boundary found by the algorithm and that are not adjacent to any background pixels.  For each relevant pixel, compute the Euclidean distance to the corresponding pixel on the manually found outline.  Report the percentage of relevant pixels that are within two pixels of the corresponding pixel on the manually found outline.</p>

    <h3>Published results using this image set</h3>

    <table class="table">
      <thead>
	<tr><th>{{H}}</th><th>Citation</th>
      </thead>
      <tbody>
      <tr>
	<td>64%</td>
	<td><a href="linked_files/JonesCVBIA2005.pdf">Jones
	et al., in the <i>Proceedings of the ICCV Workshop on Computer
	Vision for Biomedical Image Applications (CVBIA),
	2005</i></a>.</td>
      </tr>
      </tbody>
    </table>

    <h3>Acknowledgement</h3>
    <p>We would like to thank Chris Gang for outlining nuclei and
    cells.</p>

    <h3>Recommended citation</h3>
<p>"We used image set <a href="">{{acc}}v1</a> image set version 1 (Jones et
    al., <i>Proc. ICCV Workshop on Computer Vision for Biomedical
    Image Applications</i>, 2005), available from the Broad Bioimage
  Benchmark Collection [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>]."</p>

    <h3>Copyright</h3>
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a>
  To the extent possible under law,
  <a rel="dct:publisher"
     href="http://www.broadinstitute.org/~anne/">
    <span property="dct:title">Anne Carpenter</span></a>
  has waived all copyright and related or neighboring rights to
  <span property="dct:title">Drosophila Kc167 images and ground truth</span>.
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://www.broadinstitute.org/~anne/">
  United States</span>.
</p>

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
