{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="Transf_Roche_pos.png" width="259" height="215" alt="Positive">
      <div class="caption">
	Positive
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="Transf_Roche_neg.png" width="259" height="215" alt="Negative">
      <div class="caption">
	Negative
      </div>
    </div>
  </li>
</ul>

    <h3>Description of the biological application</h3>
    <p>This image set is of a Transfluor assay where an orphan GPCR is
      stably integrated into the b-arrestin GFP expressing U2OS cell
      line. After one hour incubation with a compound the cells were
      fixed with (formaldehyde).</p>

    <h3>Images</h3>
    <p>The plate was read on Cellomics ArrayScan HCS Reader using the
      GPCR Bioapplication. File format is 8-bit TIFF with one image
      for green channel (GFP) and one image for blue channel
      (DNA). Image size is 512 x 512 pixels. </p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (26 MB)</a></p>

    <h3>Ground truth {{B}}</h3>

    <p>The images constitute one row of a 384 well plate. The dose
      curve consists of 11 dose points and one control. Each
      concentration is duplicated in adjacent wells. Each well has three
      fields. File name structure:
      &lt;prefix&gt;_&lt;row&gt;&lt;column&gt;&lt;field&gt;&lt;channel&gt;.TIF</p>

    <p><img src="visual_plate_map.png" width="550" height="174" alt="Plate map"></p>

    <p><a href="{{acc}}_v1_platemap.xls"><i class="icon-download-alt"></i> {{acc}}_v1_platemap.xls (22 kB)</a></p>

	 <p>The following file encodes this plate map in the format
	   expected by CellProfiler's LoadText module:</p>

    <p><a href="{{acc}}_v1_platemap.txt"><i class="icon-download-alt"></i> {{acc}}_v1_platemap.txt (324 b)</a></p>


    <h3>Published results using this image set</h3>

    <table class="table">
      <thead>
	<tr>
	  <th>Z'-factor</th>
	  <th>V-factor</th>
	  <th>Citation</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>0.43<sup>*</sup></td>
	  <td></td>
	  <td><a href="http://dx.doi.org/10.1186/gb-2006-7-10-r100">Carpenter et al., <i>Genome Biol.</i>, 2006</a></td>
	</tr>
	<tr>
	  <td></td>
	  <td>0.67<sup>†</sup></td>
	  <td><a href="http://dx.doi.org/10.1177/1087057110370895">Logan and Carpenter, <i>J. Biomol. Screening</i>, 2010</a></td>
	</tr>
      </tbody>
      <caption align="bottom">
	<sup>*</sup> Integrated intensity on edge of speckles in green channel<br>
	<sup>†</sup> Radial distribution CV of intensity
      </caption>
    </table>

    <p>Files to reproduce results in <a href="http://dx.doi.org/10.1177/1087057110370895">Logan and Carpenter, <i>J. Biomol. Screening</i>, 2010</a> (includes CellProfiler pipelines and metadata):</p>
    <a href="{{acc}}_reproduce_logan.zip"><i class="icon-download-alt"></i> {{acc}}_reproduce_logan.zip (5.4 MB)</a>


    <h3>For more information</h3>
    <p>These images were originally gathered for  Ilya Ravkin's <a href="http://www.ravkin.net/SBS/Invitation-Algorithm-Comparison.htm">Invitation to Participate in the Comparison of Image Analysis Algorithms for Intracellular Screening</a>.</p>

    <h3>Recommended citation</h3>
<p>&quot;We used image set <a href="">{{acc}}v1</a> provided by Ilya
    Ravkin, available from the Broad Bioimage Benchmark Collection
[<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>].&quot;</p>

    <h3>Copyright</h3>
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
      <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
    </a>
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
      The {{acc}} images
    </span>
    are licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>
    by
    <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Ilya Ravkin</span>.

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>


{% endblock %}
