{% extends 'base.html' %}
{% block content %}
<p class="small">Accession number <a href="">{{acc}}</a> &middot; Version 1</p>

<h3>Example images</h3>

<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="celegans_metab_wt.png" width="156" height="155" alt="Negative control: wild type">
      <div class="caption">
	Negative control: wild type
      </div>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="celegans_metab_pos.png" width="156" height="155" alt="Positive control: fat">
      <div class="caption">
	Positive control: fat
      </div>
    </div>
  </li>
</ul>

    <h3>Biological application</h3>
    <p>Images are controls from an RNA interference screen for genes
      affecting fat mass in the nematode <i>C.elegans</i>.
      The animals are stained with oil red O, a non-flourescentdye
      which stains all major <i>C elegans</i> fat storage organs,
      including intenstine, hypodermis, gonad and eggs.</p>
     <p> Negative controls, treated with an empty vector (L4440)
      display the wild-type  phenotype: fat accumulates in portions
      of the intenstine and in the eggs. Positive controls,
      treated with RNAi against the insulin receptor (<i>daf-2</i>)
      display an increased fat phenotype; fat accumulates more
      homogeneously throughout the animal's intestine and is evident
      in the hypodermis as well as in the eggs.</p>

<p> For more information see <a href="http://dx.doi.org/10.1016/j.cmet.2009.10.002">O'Rourke et al. (<i>Cell Metabolism</i>, 2009)</a>.</p>

    <h3>Images</h3>
      <p>Six images per well per channel (brightfield) were acquired at the
      Massachusetts General Hospital (MGH) on an upgraded (Biovision Inc.)
      Axioscope Microscope (Zeiss) using Surveyor software (Bivision Inc.).
      Original image size is 2674x3078 pixels, but for our analysis we
      scaled the images down to 691 x 770 pixels.  Images are available in
      8-bit PNG.</p>

    <p><a href="{{acc}}_v1_images.zip"><i class="icon-download-alt"></i> {{acc}}_v1_images.zip (39 MB)</a></p>

    <h3>Ground truth {{B}}</h3>
    <p>The images provided correspond to one  replicate of the controls
      embedded in the metabolism screen (negative, L4440, and positive,
      daf-2).  L4440 images are in the folder entitled
    "L4440_rep1" and daf-2 images are in the folder entitled
    "daf-2_rep1".</p>

    <h3>For more information </h3>
    <p>These images were originally acquired as part of a screen for fat regulators in
      <i>C elegans</i>  in Gary Ruvkun's lab at MGH. Please contact Eyleen J. O'Rourke
      (eorourke AT molbio.mgh.harvard.edu) for more information.</p>

    <h3>Published results using this image set</h3>
    <table class="table">
      <thead>
	<tr>
	  <th>False discovery rate</th>
	  <th>Citation</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>4.5%</td>
	  <td><a href="http://dx.doi.org/10.1038/nmeth.1984">Wählby et al., <i>Nat Meth</i>, 2012</a>
      </tbody>
    </table>

    <h3>Recommended citation</h3>
    <p>&quot;We used image set <a href="">{{acc}}v1</a> provided by Gary
    Ruvkun, available from the Broad Bioimage Benchmark Collection
    [<a href="http://dx.doi.org/10.1038/nmeth.2083">Ljosa et al., <i>Nature Methods</i>, 2012</a>].&quot;</p>

  <footer class="footer">
        <p>This page last updated 2018-01-31</p>
  </footer>

{% endblock %}
