{% extends 'base.html' %}
{% block content %}

We welcome contributions of the following:
<ul>
  <li>Image sets with descriptions and ground truth</li>
  <li>High-throughput image sets</li>
  <li>Published benchmarking results of algorithms applied to the BBBC image sets</li>
  <li>Corrections to existing descriptions or ground truth</li>
  <li>Feedback on the <a href="benchmarking.html">benchmarking methodology</a> or other aspects of the BBBC</li>
</ul>

<h3>Contributing image sets</h3>

If you would like to contribute a dataset, please fill out this form: <a href="https://goo.gl/forms/qBdgPcZiEodKDI7E2">https://goo.gl/forms/qBdgPcZiEodKDI7E2</a>.
Once you have submitted the form, please email <a href="mailto:imagingadmin@broadinstitute.org">imagingadmin@broadinstitute.org</a> with the following:
<ul>
  <li>a zip file of your images</li>
  <li>1-5 example images</li>
  <li>any metadata or ground truth data you may have (.csv files).</li>
</ul>

Please email <a href="mailto:imagingadmin@broadinstitute.org">imagingadmin@broadinstitute.org</a> if you have any questions about contributing datasets.

{% endblock %}
