{% extends 'base.html' %}
{% block content %}

We welcome contributions of the following:
<ul>
  <li>Image sets with descriptions and ground truth</li>
  <li>High-throughput image sets</li>
  <li>Published benchmarking results of algorithms applied to the BBBC image sets</li>
  <li>Corrections to existing descriptions or ground truth</li>
  <li>Feedback on the <a href="benchmarking.html">benchmarking methodology</a> or other aspects of the BBBC</li>
</ul>

The best way to reach us is by email: <a href="mailto:imagingadmin@broadinstitute.org">imagingadmin@broadinstitute.org</a>.


<h3>Contributing image sets</h3>

<p>If you are considering contributing an image set and associated
ground truth to the BBBC, the best first step is to make a draft of
the description of the image set and its ground truth, using one of the
existing image sets as a template.  Send us the draft description, as
well as an example image. Together, we will discuss whether the BBBC
is the best home for your image set. We will also offer feedback on
the description and the best formats for providing the images and
ground truth.</li>

{% endblock %}
