{% extends 'base.html' %}
{% block content %}
	  <p>The Broad Bioimage Benchmark Collection (BBBC) is a collection of freely downloadable microscopy image sets.  In addition to the images themselves, each set includes a description of the biological application and some type of &quot;ground truth&quot; (expected results).</p>
	  <p>Researchers are encouraged to use these image sets as reference points when developing, testing, and publishing new image analysis algorithms for the life sciences. We hope that the BBBC will lead to a better understanding of which methods are best for various biological image analysis applications.</p>
	  <p>The BBBC is organized by the <a href="http://broadinstitute.org/imaging">Broad Institute's Imaging Platform</a>. Please contact us (<a href="mailto:imagingadmin@broadinstitute.org">imagingadmin@broadinstitute.org</a>) to discuss submitting new image sets to BBBC, or notify us of papers  referencing a BBBC image set so that we can provide the link to the paper and its results.</p>

      <p>The BBBC resource is described in the following publication:  Ljosa V, Sokolnicki KL, Carpenter AE (2012). Anno    tated high-throughput microscopy image sets for validation. Nature Methods 9(7):637 / doi. PMID: 22743765 PMCID: PMC3627348.     Available at <a href="http://dx.doi.org/10.1038/nmeth.2083">http://dx.doi.org/10.1038/nmeth.2083</a></p>
{% endblock content %}
